<%= @person.name %>

<% @person.members.each do |artist_member|
    artist = artist_member.artist
%>
    <div class="jamfu_artist">
      Artist name: <%= artist.name %>

      <%= player_link(artist) %>

    </div>

    <%- artist.albums do |album| -%>
        <%- album.songs do |song| -%>
        <%- end -%>

    <%- end -%>


<%- end -%>


<br/><br/>Owner id : <%= @owner_id %>