<%= @person.name %>

<% @person.members.each do |artist_member|
    artist = artist_member.artist
%>
    <div class="jamfu_artist">
      Artist name: <%= artist.name %>
    </div>

<% end %>

<br /><br />Owner id : <%= @owner_id %>