<p class="flash artist_invites_notification">
  You have been marked as a member of <%= artist_invites.artist.name %>.
  Is this true: <%= accept_artist_link(artist_invites) %> | <%= deny_artist_link(artist_invites) %>
</p>
