<div>
  <div id="debug">
    <fieldset id="env_debug_info" class="debug_info" >
      <legend>env</legend>
      <%= debug(request.env) %>
    </fieldset>
    <fieldset id="request_debug_info" class="debug_info">
      <legend>request</legend>
      <%= debug(request) %>
    </fieldset>
  </div>
</div>