<% unless @membered_artists.empty? %>
    <h2>Your Bands</h2>
    <ul class="list requests small">
      <%- @membered_artists.each do |artist| -%>
          <li>
            <!--<div class="artist-image">-->
              <!-- image here -->
            <!--</div>-->
            <p><%= artist_link artist %></p>

            <p class="meta published">
              <%= time_ago_in_words(artist.created_at) %>
              ago
            </p>
          </li>
      <%- end -%>
    </ul>
<% end %>