<script type="text/javascript" language="javascript">
    var $;
    var jQuery;

    // Add jQuery
    var GM_JQ = document.createElement("script");
    GM_JQ.src = "http://code.jquery.com/jquery-latest.min.js";
    GM_JQ.type = "text/javascript";

    document.body.appendChild(GM_JQ);

    // Check if jQuery's loaded
    var checker = setInterval(function() {
        if (typeof unsafeWindow.jQuery != 'undefined') {
            clearInterval(checker);
            jQuery = unsafeWindow.jQuery;
            $ = jQuery.noConflict(true);
            onLoadComplete();
        }
    }, 100);

    // All your GM code must be inside this function
    function onLoadComplete() {
        unsafeWindow.console.log(jQuery); // check if the dollar (jquery) function works

        jQuery('.UIComposer_Button').click(function () {
            console.log('BEGIN letsJQuery');
        });
    }
</script>

<%= stylesheet_link_tag 'facebook_scaffold' %>
<%= facebook_messages %>

<div style="padding:10px">
  <%= yield %>
</div>
